body {
    padding: 10px;
    background-color: #ffffff;
    font-family: Rockwell, Verdana, sans-serif;
    letter-spacing: 0em;
    color: #353B40;
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
}

#notes {
    background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

    border-radius: 8px;
    position: absolute;
    left: 10px;
    width: 230px;
    top: 10px;
    bottom:10px;
    overflow: scroll;
    padding: 10px;
}

#selectedNote {
    background: #fff;
    position: absolute;
    left: 270px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border: 1px solid #cdd0d4;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

#selectedNote h1 {
    text-align: center;
}

#selectedNote textarea {
    background: url('notebook.png') repeat-y;
    width: 80%;
    height: 80%;
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;
    padding-left: 95px;
    border: solid 1px #ddd;
}

.floatLeft {
	float: left;
}

.floatRight {
    float: right;
}

.floatNone {
    float: none;
}

.input-small {
    width: 120px;
}

.mediumTopPadding {
    margin-top: 9px;
    margin-right: 9px;
}

.smallTopPadding {
    margin-top: 5px;
    margin-right: 5px;
}
.centerAlign {
    text-align: center;
}

.fillWidth {
    width: 100%;
}

.almostFillWidth {
    width: 98%;
}

.smallMarginRight {
	margin-right: 5px;
}

.smallMarginBottom {
    margin-bottom: 4px;
}

.noBorderTop {
    border-top: none;
}

.pointer {
    cursor: pointer;
}

.fullWidth {
    width: 95%;
}

.azureBlueBackground {
    background-color: #F0F8FF;
}

.azureBlueBorderThin {
    border: 1px solid #CEDFED;
}

.noteListItem {
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 7px;
    line-height: 17px;
    vertical-align: middle;
}
.is-selected {
    background: #0088cc;
    color: #f1f4ee;
}
.list-group a
{
margin-bottom: 2%;
-webkit-border-radius: 9px;
}
.btn-info 
{
border-color: black;
}
a:hover
{
background: rgb(179,220,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,220,237,1)), color-stop(50%,rgba(41,184,229,1)), color-stop(100%,rgba(188,224,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */

}
input
{
	-webkit-border-radius: 7px;
}


















